<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        @Html.MenuItem("应用概况", "Index", "Home")
        @Html.MenuItem("用户管理", "Index", "User")
        @Html.MenuItem("群组管理", "Index", "Group")
        @Html.MenuItem("推送证书", "Index", "Certificate ")
        @Html.MenuItem("统计数据", "Index", "Statistics")
        @Html.MenuItem("App管理员", "Index", "Administrator")
        @Html.MenuItem("新闻管理", "Index", "News")
        @Html.MenuItem("我的信息", "Index", "Information")
    </ul>
</div>

